@import "tailwindcss";

@theme {
  --color-primary-dark: #333446;
  --color-primary-light: #7f8caa;
  --color-accent-dark: #b8cfce;
  --color-accent-light: #eaefef;
}

body {
  background: var(--color-primary-dark);
  color: var(--color-accent-light);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply p-4 mx-auto;
}
